@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.center-div{
    padding-top: 10%;
}

body{
    font-family: "Open Sans", sans-serif;
}
form{
    padding: 0.3em;
}
.container{
    border-radius: 2em;
    
}